body, h1, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button {
    background-color: #555;
}

.buttonform {
    padding-top: 0;
}

.inputform {
    padding-bottom: 10px;
}